.confirm__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 900px;
    width: 70%;
    background-color: #fff;
    border-radius: 10px;
}

.confirm__heading {
    text-align: center;
}

.confirm__heading h2{
    font-family: "Inika", serif;
    margin-top: 0px;
    font-size:35px;
    font-weight: normal;
}

.confirm-table {
    width: 100%;
    border: 1px solid #ddd;
}

.confirm-table__inner {
    width: 100%;
    border-collapse: collapse;
}

.confirm-table__row {
    border-bottom: 1px solid #ddd;
}

.confirm-table__header {
    text-align: left;
    padding: 18px 0 17px 40px;
    width: 35%;
    font-weight: normal;
    font-size: 18px;
    background-color: #BAA899;
    color: #fff;
}

.confirm-table__text {
    text-align: left;
    padding: 15px 0;
    width: 70%;
    font-size: 16px;
    padding-left: 10px;
}

.form__button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.form__button-submit {
    background-color: #8B7969;
    color: #fff;
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-right: 15px;
}

.form__button-back {
    background-color: #fff;
    color: #8B7969;
    padding: 15px 40px;
    border: 1px solid #8B7969;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}