.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 900px;
    width: 70%;
    background-color: #fff;
    border-radius: 10px;
}

.contact-form__heading {
    text-align: center;
}

.contact-form__heading h2 {
    font-family: "Inika", serif;
    margin-top: 0px;
    margin-bottom:20px;
    font-size: 35px;
    font-weight: normal;
}

.form__group {
    display: flex;
    align-items: flex-start;
    margin-bottom: 16px;
}

.form__group-title {
    width: 30%;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.form__label--item {
    font-size: 20px;
}

.form__label--required {
    color: #ff0000;
    font-size: 12px;
    padding: 2px 5px;
    margin-left: 10px;
    border-radius: 5px;
}

.form__group-content {
    width: 65%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.form__input--name {
    display: flex;
    gap: 30px;
}

.form__input-wrapper {
    width: 35%;
}

.form__input--name input,
.form__input--text input,
.form__input--tel input,
.form__input--select select,
.form__input--textarea textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    background-color: #F4F4F4;
}

.form__input--select {
    position: relative;
    width: 60%;
}

.form__input--select select {
    padding-right: 30px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.form__input--select::after {
    content: '▼';
    font-size: 12px;
    color: #8B7969;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    pointer-events: none;
}
.form__input--radio {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 3px 10px 20px 10px;
}

.form__input--radio label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.form__input--tel {
    width:100%;
    display: flex;
    gap: 5px;
}

.form__input--tel input {
    width: 25%;
    text-align: center;
}

.form__input--tel span {
    font-size: 18px;
    font-weight: bold;
    align-self: center;
}

.form__input--textarea textarea {
    height: 100px;
    resize: vertical;
}

.form__button {
    text-align: center;
    margin-top: 16px;
}

.form__button-submit {
    background-color: #8B7969;
    color: #fff;
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.form__error {
    color: red;
    font-size: 12px;
    height: 1.5em;
    margin-top: 2px;
}