.inika-regular {
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
}

.inika-bold {
    font-family: "Inika", serif;
    font-weight: 700;
    font-style: normal;
}

body{
    font-family:"Inika",serif;
}
.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 900px;
    width: 70%;
    background-color: #fff;
    color: #8B7969;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.contact-form__heading {
    text-align: center;
    margin-bottom: 20px;
}

.contact-form__heading h2 {
    font-size: 35px;
    font-weight: bold;
}

.header {
    background-color: #fff;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #E0DFDE;
}
.header__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
.header__logo {
    font-size: 40px;
    /* font-weight: bold; */
    color: #8B7969;
    text-decoration: none;
}

.form__group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.form__group-title {
    width: 30%;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    /* 親要素で指定するため0に */
}

.form__label--item {
    font-weight: bold;
    font-size: 20px;
}

.form__label--required {
    /* background-color: #ff0000; */
    color: #ff0000;
    font-size: 12px;
    padding: 2px 5px;
    margin-left: 10px;
    border-radius: 5px;
}

.form__group-content {
    width: 65%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.form__input--name {
    display: flex;
    gap: 10px;
}

.form__input--name input {
    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    background-color: #F4F4F4;

}

.form__input--text input,
.form__input--tel input,
.form__input--select select,
.form__input--textarea textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    background-color: #F4F4F4;
}
.form__input--select select{
    width: 60%;
}

.form__input--radio {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px;
}

.form__input--radio label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.form__input--tel {
    width:100%;
    display: flex;
    gap: 5px;
}

.form__input--tel input {
    width: 25%;
    text-align: center;
}

.form__input--tel span {
    font-size: 18px;
    font-weight: bold;
    align-self: center;
}

.form__input--textarea textarea {
    height: 100px;
    resize: vertical;
}

.form__button {
    text-align: center;
    margin-top: 30px;
}

.form__button-submit {
    background-color: #8B7969;
    color: #fff;
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.form__error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
