.thanks__content {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.thanks__text-container {
    width:100%;
    text-align: center;
    position: relative;
}

.thanks__main-text {
    font-size: 30px;
    color: #8B7969;
    font-weight: bold;
    margin-bottom: 40px;
}

.home-button {
    margin-top: 20px;
}

.thanks__background-text {
    font-family: 'Inika', serif;
    font-size: 220px;
    font-weight: 400;
    color: #8B7969;
    opacity: 0.05;
    position: absolute;
    transform: translate(0,-185%);
    pointer-events: none;
    line-height: 1;
    width: 100%;
}

.home-button__link {
    font-family: "Inika", serif;
    background-color: #82756A;
    color: #FFFFFF;
    text-decoration: none;
    padding: 8px 40px;
    border-radius: 3px;
    font-size: 20px;
    display: inline-block;
}
@media screen and (max-width: 1085px) {
    .thanks__background-text {
        transform: translate(0, -115%);
    }
}